.red {
	background-color: red;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.brown{
    background-color: rgb(77, 33, 33);
}
.violet{
    background-color:  violet;
}
.orange{
    background-color: orange;
}
.cyan{
    background-color: cyan;
}

.hidden{
    background-color: black;
}
.matched{
    background-color: lightgray;
}